<table class="table table-striped table-bordered table-hover dt-responsive" width="100%" id="phonegrid">
    <thead>
        <tr>
            <th>
                Device Name
            </th>
            <th>
                Year
            </th>
            <th>
                Model
            </th>
            <th>
                Identifier
            </th>
            <th>
                Serial Number
            </th>
            <th>
                Specs
            </th>
            <th>
                Assigned To
            </th>
            <th>
                Issue Date
            </th>
        </tr>
    </thead>
    <tbody>

    </tbody>
</table>
